.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 90%;
}


 @media (max-width: 760px){
.small-d{
  margin: 0px 5%;
  width: 100%;
}
} 