.navbar {
  background-color: rgb(42, 42, 42);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 18px;
  position:sticky;
  top: 0;
  z-index: 8;
  opacity: 3;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {  
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 30px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.navbar-link {
  text-decoration: none;
  color: #fcfbfb;
  font-size: 16px;
  margin-right: 50px;
}


@media (max-width: 768px) {
 
.navbar-container {
  display: flex;
  flex-direction: column;
}
.dropdown{
  margin-top: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #fcfbfb;
  font-size: 16px;
  margin-right: 20px;
}
.navbar-links {
  display: flex;
  list-style: none;
  margin-left: 0px;
}
}

.anc{
  text-decoration: none;
  color: white;
  padding: 10px 2px;
}
@media (max-width: 760px){
    .footer{
        width: 110%;
    }
 }
 
@media (max-width: 760px){
    .sec-two{
        flex-wrap: wrap;
    }
    .about-text{
        max-width: 90%;
    }
}

.content{
    padding-left: 40px;
    margin-top: 10px;
}
.card-link{
    color: rgb(75, 157, 220);
    font-weight: 500;
    cursor: pointer;
}
.icon{
    color: chartreuse;
    color: rgb(73, 173, 255);

}
.banner{
    background-image: url('/public/Images/bannerbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.ml-auto{
  margin-left: auto;
}

.menu{
  cursor: pointer;
  margin:"10px 0px";
  text-align:center;
  background-color: #FAFAFA;
  width: 130px;
  height: 40px;
  margin-top: 2px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  padding-left: 12px;
  display: block;
};

.menu:hover {
  background-color: rgb(240, 245, 246);
};
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
};

